/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .loginsignupform {
   border: 3px solid #f1f1f1;
   .container {
     padding: 16px;
   }
   h2{
     margin-top: 20px;
     text-align: center;
   }
   input[type=number], input[type=password], input[type=text] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
     font-size: 16px;
   }
   .btn-submit {
     background-color: #4CAF50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
     font-size: 18px;
   }
   button:hover {
     opacity: 0.8;
   }
 }

.btn-logout-wrapper{
  width: 100%;
  display: block;
  position: relative;
  text-align: right;
}

 .btn-logout {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 15px;
 }

 ul {
   list-style: none;
   padding-left: 0;
 }

li{
  list-style: none;
  padding-left: 0;
}

.add_post_icon{
  font-size: 48px!important;
  float: right;
}
