// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Short+Stack|Gloria+Hallelujah');


//Messy Handwriting
// Gloria Hallelujah
// Rock Salt
//Short Stack

body, html {
  height: 100%;
}

.header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo{
  color: #fff;
  font-size: 28px;
  float: left;
  padding: 5px 15px;
}

.signin{
  color: #fff;
  font-size: 15px;
  float: right;
  margin: 15px;
  padding: 5px 15px;
  background-color: #8b96d2;
  border-radius: 15px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.noteboard_wrapper{
  position: relative;
  text-align: center;
  background-image: asset_url("noteboard.svg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-color: #3f51b5;
}

.noteboard_img{
  width: 50%;
}

.from_this{
  color: #fff;
  position: absolute;
  bottom: 20%;
  right: 50%;
  transform: translateX(50%);
  font-family: 'Rock Salt', cursive;
  font-size: 25px;
}

.ditch_that{
  color: #fff;
  position: absolute;
  top: 15%;
  right: 50%;
  transform: translateX(50%);
  font-family: 'Gloria Hallelujah', cursive;
  width: 100%;
  // font-size: 30px;
}

.to_this_wrapper{
  display: block;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 25px;
}


.to_this{
  font-size: 40px;
}

.notephone_wrapper{
  position: relative;
  text-align: center;
  background-image: asset_url("notephone.svg");
  height: 59%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 100%;
  margin-bottom: 30px;
}

.notephone_img{
  width: 70%;
}

.why_div{
  position: relative;
  text-align: center;
  background-image: asset_url("send.svg");
  height: 59%;
  width: 100%;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  // background-size: cover;
  background-color: #E6E8EC;
}

.send_jotty{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%,-50%);
  padding: 5px;
  strong{
    color: #3f51b5;
  }
}

.save_earth_wrapper{
  position: relative;
  text-align: center;
  background-image: asset_url("earth.svg");
  height: 60%;
  width: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

.save_earth{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  strong{
    position: relative;
    color: #57B894;
  }

}

.baboon_icon{
  vertical-align: middle;
  margin-left: 10px;
}

.use_jotty{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  // border: 2px solid #3f51b5;
  background-color: #3f51b5;
  border-radius: 8px;
  padding: 3px 10px 9px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
  outline: none;
  margin-top: 5px;
  strong{
    color: #fff;
  }
}
